@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&family=Nunito:wght@200;300;400;500;600;700&display=swap');

.App {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
}